# MacOS
.DS_Store

# IDE
**/.idea

# Terraform
**/.terraform
**/*.tfstate*
**/*.tfplan
**/tf.plan

# do not ignore for team projects - for solo commits it pollutes the pr diff
**/.terraform.lock.hcl

# Ansible
**/ansible.log
**/.vault-password

# Senesitive
**/.env

# WIP
**/wip-*
**/*-tmp.sh
