---
- name: Simple playbook to demonstrate a connection over SSM
  hosts: "tag_example_{{ example }}:&tag_module_{{ module }}"  # assumes no hyphens
  any_errors_fatal: true

  vars:
    # Managed by the AWS dynamic inventory plug-in. These variables are aligned
    # with Terraform tags, i.e. instance tags with key-pairs "example: complete"
    # *and* "module: vmlab"
    example: complete
    module: vmlab

    ansible_connection: aws_ssm
    ansible_aws_ssm_bucket_name: "{{ aws_account_id }}-{{ category }}-ssm"
    ansible_aws_ssm_region: eu-west-2
    ssm_timeout: 60

  tasks:
    - name: Say hello - ansible-lint will complain if a task does not have a name
      ansible.builtin.debug:
        msg: Greetings from {{ hostvars[ansible_host]['public_ip_address'] }}

  post_tasks:
    - name: Say goodbye
      ansible.builtin.debug:
        msg: Goodbye from {{ hostvars[ansible_host]['public_ip_address'] }}
