---
- name: Simple playbook to demonstrate EC2 connections over ssh
  hosts: "tag_example_{{ example }}:&tag_module_{{ module }}"  # assumes no hyphens
  gather_facts: true
  any_errors_fatal: true

  vars:
    # Managed by the AWS dynamic inventory plug-in. These variables are aligned
    # with Terraform tags, i.e. instance tags with key-pairs "example: complete"
    # *and* "module: vmlab"
    example: complete
    module: vmlab

    instance_tag_name: "{{ hostvars[inventory_hostname].tags.Name }}"

  pre_tasks:
    - name: Ping the hosts
      ansible.builtin.ping:

    - name: Facts - O/S details
      ansible.builtin.debug:
        msg: >-
          os_family:
            {{ ansible_facts.os_family }},
          distro:
            {{ ansible_facts.distribution }}, {{ ansible_facts.distribution_version }},
          kernel:
            {{ ansible_facts.kernel }}

  tasks:
    - name: Say hello - ansible-lint will complain if a task does not have a name
      ansible.builtin.debug:
        msg: Greetings from {{ hostvars[ansible_host]['public_ip_address'] }}
      tags:
        - manners

    - name: Debug example 1
      ansible.builtin.debug:
        var: instance_tag_name

    - name: Debug example 2
      ansible.builtin.debug:
        msg: The 'environment' name is {{ module ~'-'~ example }}

    - name: Set the hostname to that of the Name tag
      become: true
      ansible.builtin.hostname:
        name: "{{ instance_tag_name }}"
        use: systemd
      tags:
        - configure

  post_tasks:
    - name: Say goodbye
      ansible.builtin.debug:
        msg: Goodbye from {{ hostvars[ansible_host]['public_ip_address'] }}
      tags:
        - manners
