[defaults]

# Dynamic inventory
inventory = ./inventory/

# Fact gathering can be slow
gathering = smart
fact_caching_connection = ./fact_cache/
fact_gathering = jsonfile
fact_caching_timeout = 3600

# Otherwise, this is a PITA
host_key_checking = False

# No retry files
retry_files_enabled = False

# Control which callbacks are enabled
callbacks_enabled = ansible.posix.timer, ansible.posix.profile_roles, ansible.posix.debug

# Enable logging
log_path = ./ansible.log

# Silence the annoying and currently needless warning
interpreter_python = auto_silent

# Even more annoying...
nocows = True
